<div class="masthead">

  <div class="language-nav">
    <ul >
      <li><a href="#"></a>CSS</li>
      <li><a href="#"></a>HTML</li>
      <li><a href="#"></a>Javascript</li>
      <li><a href="#"></a>Ruby</li>
    </ul>
  </div>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="">
  </div>


  <div class="masthead-links">
    <ul>
      <li><a href="#">Tuesday, October 18, 2016</a></li>
      <li><a href="#"><i class="fas fa-newspaper"></i>Today’s Paper</a></li>
      <li><a href="#"><i class="fas fa-video"></i>Video</a></li>
      <li><a href="#">77°F</a></li>
      <li><a href="#">AAO</a><a href="#" id="percent">+100%</a></li>
    </ul>
  </div>






</div>
