<h1>List of all bands</h1>

<% Album.all.each do |album| %>
  <ul>
    <li>Album Title: <%= album.title %></li>
    <li>Year: <%= album.year %></li>
    <li>Status: <%= album.status %></li>
    <li>Band: <%= Band.find_by(id: album.band_id).name %></li>
  </ul>
<% end %>
