
<style media="screen">
  #band_name{
    font-size: 50pt;
    font-style: oblique;
  }
</style>

<body id="band_name">
  <%= @band.name %>
  <% @band.albums.each do |album| %>
    <%= album.title %>
  <% end %>
</body>
